* {
  margin:0;
}

.headline {
  background-color:hotpink;
  height: 150px;
}

.headline > div {
  font-size: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  font-size: 17px;
}


a:link, a:visited {
  text-decoration: none;
  color: black;
}

.main-grid {

  padding: 15px;
}

.main-grid-div {
  width: auto;
  height: 230px;
  background-color: antiquewhite;
  margin-bottom: 15px;
  padding: 10px

  
}

.main-grid-div-hr {
  margin: 10px 0px;
}



@media screen and (min-width: 600px) {

	.main-grid {
		display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 15px;
	}
}

.main-grid-href{
  background-color: antiquewhite;
  width: auto;
  height: 300px;
  border: 1px solid black;
  margin-top: 15px;

}

.main-grid-href > h1 {
  display: flex;
  justify-content: center;
  
}

.main-grid-div > h1 {
  display: flex;
  justify-content: center;
}